@import "main";

body #wrap #content {
    section {
        .img {
            margin: 15px;
            margin-bottom: 0px;
            display: none;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            &.anna {
                background-image: url('../img/anna_fisher.jpg');
            }
            &.rosetta {
                display: none;
                width: 100%;
                background-image: url('../img/ESA_Rosetta_NAVCAM_141018_C.jpg');
                display: inline-block;
            }
        }
        p {
            margin: 15px;
        }
        &.main {
            padding: 20px 25px;
        }
    }

    @media screen and (min-width: $break-medium) {
        section {
            &.main {
                padding: 20px 25px;
                background-color: #d9e4de;
                .img {
                    display: block;
                    width: 70%;
                    height: 570px;
                    max-height: 100%;
                    float: right;
                }
            }
            &.text {
                padding: 20px;
                @include columns(2);
                p {
                    page-break-inside: avoid;
                    &:first-child {
                        margin-top: 0px;
                    }
                }
                .rosetta.bottom {
                    display: inline-block;
                    height: 450px;
                }
            }
        }
    }

    @media screen and (max-width: $break-medium) and (min-width: $break-small) {
        section {
            &.main {
                padding: 0px;
                background-color: #d9e4de;
                .img {
                    margin: 0px;
                    display: block;
                    width: 100%;
                    height: 500px;
                }
            }
            &.text {
                padding: 20px;
                p {
                    page-break-inside: avoid;
                    &:first-child {
                        margin-top: 0px;
                    }
                }
                .rosetta.top {
                    display: block;
                    float: right;
                    width: 45%;
                    height: 490px;
                    margin: 0px;
                    margin-left: 20px;
                    background-size: 140%;
                }
            }
        }
    }
}
