/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_header.scss */
body #wrap nav.mobile {
  display: none;
}

/* line 5, ../sass/_header.scss */
body #wrap header {
  padding: 25px 40px;
  background-color: #072a42;
}
/* line 8, ../sass/_header.scss */
body #wrap header #mobile_menu_button {
  display: none;
}
/* line 11, ../sass/_header.scss */
body #wrap header h1 {
  font-family: 'Georgia', serif;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #74ffa3;
}
/* line 19, ../sass/_header.scss */
body #wrap header nav a:link, body #wrap header nav a:visited, body #wrap header nav a:focus, body #wrap header nav a:hover {
  font-family: 'Corbel', sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 600px) {
  /* line 30, ../sass/_header.scss */
  body #wrap header h1 {
    font-size: 46px;
    display: inline-block;
    width: 10%;
  }
  /* line 35, ../sass/_header.scss */
  body #wrap header nav {
    display: inline-block;
    width: 90%;
    text-align: right;
  }
  /* line 40, ../sass/_header.scss */
  body #wrap header nav a:not(:first-child) {
    margin-left: 30px;
  }
  /* line 43, ../sass/_header.scss */
  body #wrap header nav a:link, body #wrap header nav a:visited, body #wrap header nav a:focus, body #wrap header nav a:hover {
    font-family: 'Corbel', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #fff;
  }
}
@media screen and (max-width: 980px) and (min-width: 600px) {
  /* line 56, ../sass/_header.scss */
  body #wrap header {
    padding: 20px;
  }
  /* line 60, ../sass/_header.scss */
  body #wrap header nav a:not(:first-child) {
    margin-left: 10px;
  }
  /* line 63, ../sass/_header.scss */
  body #wrap header nav a:link, body #wrap header nav a:visited, body #wrap header nav a:focus, body #wrap header nav a:hover {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  /* line 74, ../sass/_header.scss */
  body #wrap.pushedLeft {
    margin-left: -70%;
    margin-right: 70%;
  }
  /* line 77, ../sass/_header.scss */
  body #wrap.pushedLeft nav.mobile {
    left: 0px;
  }
  /* line 81, ../sass/_header.scss */
  body #wrap header {
    position: relative;
    z-index: 5;
    padding: 5px 50px;
    padding-right: 30px;
  }
  /* line 86, ../sass/_header.scss */
  body #wrap header #mobile_menu_button {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 40px;
    vertical-align: middle;
  }
  /* line 92, ../sass/_header.scss */
  body #wrap header #mobile_menu_button div {
    width: 100%;
    height: 15%;
    margin: 10% 0px;
    border-radius: 2px;
    background-color: #FFF;
  }
  /* line 100, ../sass/_header.scss */
  body #wrap header h1 {
    display: inline-block;
    width: calc(100% - 50px);
    vertical-align: middle;
    font-size: 34px;
  }
  /* line 106, ../sass/_header.scss */
  body #wrap header nav {
    display: none;
  }
  /* line 110, ../sass/_header.scss */
  body #wrap nav.mobile {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 100%;
    text-align: right;
    background-color: #4a4a4a;
  }
  /* line 119, ../sass/_header.scss */
  body #wrap nav.mobile a {
    margin-right: 40px;
    line-height: 90px;
  }
  /* line 122, ../sass/_header.scss */
  body #wrap nav.mobile a:link, body #wrap nav.mobile a:visited, body #wrap nav.mobile a:focus, body #wrap nav.mobile a:hover {
    font-family: 'Corbel', sans-serif;
    font-size: 51px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #fff;
  }
}
/* line 1, ../sass/_footer.scss */
body #wrap footer {
  position: relative;
  z-index: 5;
  margin-top: 100px;
  padding-top: 3px;
  background-color: #74ffa3;
}
/* line 7, ../sass/_footer.scss */
body #wrap footer div {
  height: 6px;
}
/* line 9, ../sass/_footer.scss */
body #wrap footer div:first-child {
  background-color: #072a42;
}
/* line 12, ../sass/_footer.scss */
body #wrap footer div:last-child {
  background-color: #000;
}

/* line 15, ../sass/_main.scss */
body #wrap {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Corbel';
  font-size: 16px;
  line-height: 22px;
}
/* line 21, ../sass/_main.scss */
body #wrap .clean {
  clear: both;
}
/* line 24, ../sass/_main.scss */
body #wrap img {
  max-width: 100%;
}

/* line 3, ../sass/home.scss */
body #wrap #content {
  position: relative;
  z-index: 5;
  background-color: #FFF;
}
/* line 8, ../sass/home.scss */
body #wrap #content section .img {
  margin: 15px;
  margin-bottom: 0px;
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* line 15, ../sass/home.scss */
body #wrap #content section .img.anna {
  background-image: url("../img/anna_fisher.jpg");
}
/* line 18, ../sass/home.scss */
body #wrap #content section .img.rosetta {
  display: none;
  width: 100%;
  background-image: url("../img/ESA_Rosetta_NAVCAM_141018_C.jpg");
  display: inline-block;
}
/* line 25, ../sass/home.scss */
body #wrap #content section p {
  margin: 15px;
}
/* line 28, ../sass/home.scss */
body #wrap #content section.main {
  padding: 20px 25px;
}
@media screen and (min-width: 980px) {
  /* line 35, ../sass/home.scss */
  body #wrap #content section.main {
    padding: 20px 25px;
    background-color: #d9e4de;
  }
  /* line 38, ../sass/home.scss */
  body #wrap #content section.main .img {
    display: block;
    width: 70%;
    height: 570px;
    max-height: 100%;
    float: right;
  }
  /* line 46, ../sass/home.scss */
  body #wrap #content section.text {
    padding: 20px;
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
  }
  /* line 49, ../sass/home.scss */
  body #wrap #content section.text p {
    page-break-inside: avoid;
  }
  /* line 51, ../sass/home.scss */
  body #wrap #content section.text p:first-child {
    margin-top: 0px;
  }
  /* line 55, ../sass/home.scss */
  body #wrap #content section.text .rosetta.bottom {
    display: inline-block;
    height: 450px;
  }
}
@media screen and (max-width: 980px) and (min-width: 600px) {
  /* line 65, ../sass/home.scss */
  body #wrap #content section.main {
    padding: 0px;
    background-color: #d9e4de;
  }
  /* line 68, ../sass/home.scss */
  body #wrap #content section.main .img {
    margin: 0px;
    display: block;
    width: 100%;
    height: 500px;
  }
  /* line 75, ../sass/home.scss */
  body #wrap #content section.text {
    padding: 20px;
  }
  /* line 77, ../sass/home.scss */
  body #wrap #content section.text p:first-child {
    margin-top: 0px;
  }
  /* line 80, ../sass/home.scss */
  body #wrap #content section.text .rosetta.top {
    display: block;
    float: right;
    width: 45%;
    height: 490px;
    margin: 0px;
    margin-left: 20px;
    background-size: 140%;
  }
}
@media screen and (max-width: 600px) {
  /* line 95, ../sass/home.scss */
  body #wrap #content section.main {
    padding: 0px;
  }
  /* line 97, ../sass/home.scss */
  body #wrap #content section.main .img {
    margin: 0px;
    display: block;
    width: 100%;
    height: 300px;
  }
  /* line 103, ../sass/home.scss */
  body #wrap #content section.main p {
    margin: 15px 0px;
    padding: 0px 40px;
  }
  /* line 108, ../sass/home.scss */
  body #wrap #content section.text {
    padding: 20px 40px;
    padding-top: 0px;
  }
  /* line 111, ../sass/home.scss */
  body #wrap #content section.text p {
    margin: 0px;
    padding: 0px;
  }
  /* line 114, ../sass/home.scss */
  body #wrap #content section.text p:first-child {
    margin-top: 0px;
  }
  /* line 118, ../sass/home.scss */
  body #wrap #content section.text .rosetta.top {
    display: block;
    width: 100%;
    height: 250px;
    margin: 0px;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=home.css.map */
