/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_header.scss */
body #wrap header {
  padding: 25px 40px;
  background-color: #045750;
}
/* line 4, ../sass/_header.scss */
body #wrap header h1 {
  font-family: 'Georgia', serif;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #74ffa3;
}
/* line 12, ../sass/_header.scss */
body #wrap header nav a:link, body #wrap header nav a:visited, body #wrap header nav a:focus, body #wrap header nav a:hover {
  font-family: 'Corbel', sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 600px) {
  /* line 23, ../sass/_header.scss */
  body #wrap header h1 {
    font-size: 46px;
    display: inline-block;
    width: 10%;
  }
  /* line 28, ../sass/_header.scss */
  body #wrap header nav {
    display: inline-block;
    width: 90%;
    text-align: right;
  }
  /* line 33, ../sass/_header.scss */
  body #wrap header nav a:not(:first-child) {
    margin-left: 30px;
  }
  /* line 36, ../sass/_header.scss */
  body #wrap header nav a:link, body #wrap header nav a:visited, body #wrap header nav a:focus, body #wrap header nav a:hover {
    font-family: 'Corbel', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #fff;
  }
}
@media screen and (max-width: 980px) and (min-width: 600px) {
  /* line 49, ../sass/_header.scss */
  body #wrap header {
    padding: 20px;
  }
  /* line 53, ../sass/_header.scss */
  body #wrap header nav a:not(:first-child) {
    margin-left: 10px;
  }
  /* line 56, ../sass/_header.scss */
  body #wrap header nav a:link, body #wrap header nav a:visited, body #wrap header nav a:focus, body #wrap header nav a:hover {
    font-size: 24px;
  }
}

/* line 1, ../sass/_footer.scss */
body #wrap footer {
  margin-top: 100px;
  padding-top: 3px;
  background-color: #74ffa3;
}
/* line 5, ../sass/_footer.scss */
body #wrap footer div {
  height: 6px;
}
/* line 7, ../sass/_footer.scss */
body #wrap footer div:first-child {
  background-color: #072a42;
}
/* line 10, ../sass/_footer.scss */
body #wrap footer div:last-child {
  background-color: #000;
}

/* line 13, ../sass/_main.scss */
body #wrap {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Corbel';
  font-size: 16px;
  line-height: 22px;
}
/* line 19, ../sass/_main.scss */
body #wrap .clean {
  clear: both;
}
/* line 22, ../sass/_main.scss */
body #wrap img {
  max-width: 100%;
}

/* line 5, ../sass/home.scss */
body #wrap #content section .img {
  margin: 15px;
  margin-bottom: 0px;
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* line 12, ../sass/home.scss */
body #wrap #content section .img.anna {
  background-image: url("../img/anna_fisher.jpg");
}
/* line 15, ../sass/home.scss */
body #wrap #content section .img.rosetta {
  display: none;
  width: 100%;
  background-image: url("../img/ESA_Rosetta_NAVCAM_141018_C.jpg");
  display: inline-block;
}
/* line 22, ../sass/home.scss */
body #wrap #content section p {
  margin: 15px;
}
/* line 25, ../sass/home.scss */
body #wrap #content section.main {
  padding: 20px 25px;
}
@media screen and (min-width: 980px) {
  /* line 32, ../sass/home.scss */
  body #wrap #content section.main {
    padding: 20px 25px;
    background-color: #d9e4de;
  }
  /* line 35, ../sass/home.scss */
  body #wrap #content section.main .img {
    display: block;
    width: 70%;
    height: 570px;
    max-height: 100%;
    float: right;
  }
  /* line 43, ../sass/home.scss */
  body #wrap #content section.text {
    padding: 20px;
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
  }
  /* line 46, ../sass/home.scss */
  body #wrap #content section.text p {
    page-break-inside: avoid;
  }
  /* line 48, ../sass/home.scss */
  body #wrap #content section.text p:first-child {
    margin-top: 0px;
  }
  /* line 52, ../sass/home.scss */
  body #wrap #content section.text .rosetta.bottom {
    display: inline-block;
    height: 450px;
  }
}
@media screen and (max-width: 980px) and (min-width: 600px) {
  /* line 62, ../sass/home.scss */
  body #wrap #content section.main {
    padding: 0px;
    background-color: #d9e4de;
  }
  /* line 65, ../sass/home.scss */
  body #wrap #content section.main .img {
    margin: 0px;
    display: block;
    width: 100%;
    height: 500px;
  }
  /* line 72, ../sass/home.scss */
  body #wrap #content section.text {
    padding: 20px;
  }
  /* line 74, ../sass/home.scss */
  body #wrap #content section.text p {
    page-break-inside: avoid;
  }
  /* line 76, ../sass/home.scss */
  body #wrap #content section.text p:first-child {
    margin-top: 0px;
  }
  /* line 80, ../sass/home.scss */
  body #wrap #content section.text .rosetta.top {
    display: block;
    float: right;
    width: 45%;
    height: 490px;
    margin: 0px;
    margin-left: 20px;
    background-size: 140%;
  }
}

/*# sourceMappingURL=home.css.map */
