/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* --------------------------
		FONTS
----------------------------*/
@font-face {
  font-family: 'georgiaBold';
  src: url("../fonts/georgiaBold/Georgia Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'corbel';
  src: url("../fonts/corbel/corbel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'corbel-bold';
  src: url("../fonts/corbel/corbelb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 25, ../sass/_common.scss */
.georgiaBold {
  font-family: 'georgiaBold', Arial, Serif;
}

/* line 30, ../sass/_common.scss */
.corbel {
  font-family: 'corbel', Arial, Serif;
}

/* line 35, ../sass/_common.scss */
.corbelBold {
  font-family: 'corbel-bold', Arial, Serif;
}

/* --------------------------
		COMMONS CLASS
----------------------------*/
/* line 44, ../sass/_common.scss */
html, body {
  height: 100%;
}

/* line 48, ../sass/_common.scss */
.page {
  background: #fff;
  position: relative;
  left: 0;
  z-index: 1;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 56, ../sass/_common.scss */
.page.open {
  left: -435px;
  -moz-box-shadow: 10px 0px 40px 0px #2c2c2c;
  -webkit-box-shadow: 10px 0px 40px 0px #2c2c2c;
  -o-box-shadow: 10px 0px 40px 0px #2c2c2c;
  box-shadow: 10px 0px 40px 0px #2c2c2c;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#2c2c2c, Direction=90, Strength=40);
}

/* line 67, ../sass/_common.scss */
.content {
  width: 1200px;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 1250px) {
  /* line 67, ../sass/_common.scss */
  .content {
    width: 100%;
  }
}

/* line 78, ../sass/_common.scss */
.floatLeft {
  float: left;
}

/* line 83, ../sass/_common.scss */
.floatRight {
  float: right;
}

/* line 88, ../sass/_common.scss */
p {
  margin-bottom: 20px;
  line-height: 22px;
}

/* line 94, ../sass/_common.scss */
a, a:visited {
  color: #fff;
  text-decoration: none;
}
/* line 99, ../sass/_common.scss */
a:hover, a:visited:hover {
  color: #e5e5e5;
}

/* line 105, ../sass/_common.scss */
.mobileNav {
  width: 435px;
  height: 100%;
  background-color: #4a4a4a;
  font-size: 51px;
  color: #fff;
  text-align: right;
  padding: 20px 60px 0 0;
  line-height: 80px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
}

/* line 1, ../sass/_header.scss */
.header {
  background-color: #072a42;
  height: 94px;
  line-height: 94px;
  border-bottom: 1px solid #fff;
  padding: 0 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 11, ../sass/_header.scss */
.header .logo {
  text-decoration: underline;
  font-style: italic;
  font-size: 46px;
  color: #74ffa3;
  letter-spacing: 5px;
}
/* line 20, ../sass/_header.scss */
.header .nav {
  float: right;
}
/* line 24, ../sass/_header.scss */
.header .nav ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 36px;
  color: #fff;
}
/* line 33, ../sass/_header.scss */
.header .nav .icon-menu {
  display: none;
}

@media screen and (max-width: 980px) {
  /* line 43, ../sass/_header.scss */
  .header {
    border-bottom: none;
    padding: 0 20px;
  }
  /* line 48, ../sass/_header.scss */
  .header .logo {
    font-size: 44px;
  }
  /* line 53, ../sass/_header.scss */
  .header li {
    font-size: 33px;
  }
}
@media screen and (max-width: 870px) {
  /* line 68, ../sass/_header.scss */
  .header .nav ul {
    display: none;
  }
  /* line 73, ../sass/_header.scss */
  .header .nav .icon-menu {
    display: inline-block;
    font-size: 40px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) {
  /* line 88, ../sass/_header.scss */
  .header {
    height: 60px;
    line-height: 60px;
    padding: 0 60px;
  }
  /* line 94, ../sass/_header.scss */
  .header .logo {
    font-size: 34px;
  }
}
/* line 1, ../sass/_body.scss */
.hightNew {
  background-color: #d9e4de;
  min-height: 600px;
  padding: 34px 21px 0 21px;
  margin-bottom: 21px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}
@media screen and (max-width: 1200px) {
  /* line 1, ../sass/_body.scss */
  .hightNew {
    width: 100%;
  }
}
/* line 14, ../sass/_body.scss */
.hightNew .higthNewText, .hightNew .annaFull {
  display: inline-block;
  vertical-align: top;
}
/* line 20, ../sass/_body.scss */
.hightNew .higthNewText {
  width: 27.42%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 21px;
}
/* line 27, ../sass/_body.scss */
.hightNew .mainPicture {
  display: none;
}
/* line 32, ../sass/_body.scss */
.hightNew .annaFull {
  position: absolute;
  right: 21px;
  top: 0;
  width: 70%;
  height: 100%;
  background: url("../images/anna_fisherFull.png") center center no-repeat;
  background-size: cover;
}

/* line 44, ../sass/_body.scss */
.lastNews {
  padding: 0 21px;
  margin-bottom: 100px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 51, ../sass/_body.scss */
.lastNews .column {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 56, ../sass/_body.scss */
.lastNews .column:first-child {
  padding-right: 20px;
}
/* line 61, ../sass/_body.scss */
.lastNews .column img {
  margin-bottom: 22px;
  width: 100%;
}
/* line 68, ../sass/_body.scss */
.lastNews:after {
  content: "";
  clear: both;
  display: table;
}
/* line 75, ../sass/_body.scss */
.lastNews .rockMedium {
  display: none;
}

@media screen and (max-width: 980px) {
  /* line 84, ../sass/_body.scss */
  .hightNew {
    height: auto;
    padding: 0;
  }
  /* line 89, ../sass/_body.scss */
  .hightNew .mainPicture, .hightNew .mainPicture img {
    width: 100%;
    height: 100%;
    margin-top: -5px;
  }
  /* line 96, ../sass/_body.scss */
  .hightNew .mainPicture, .hightNew .higthNewText {
    display: block;
    float: none;
  }
  /* line 102, ../sass/_body.scss */
  .hightNew .higthNewText {
    width: 100%;
    padding: 20px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  /* line 109, ../sass/_body.scss */
  .hightNew .annaFull {
    display: none;
  }

  /* line 115, ../sass/_body.scss */
  .lastNews {
    padding: 0;
    margin-bottom: 80px;
  }
  /* line 119, ../sass/_body.scss */
  .lastNews .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
  }
  /* line 124, ../sass/_body.scss */
  .lastNews .content .column.floatLeft, .lastNews .content .column.floatRight {
    float: none;
    width: 100%;
  }
  /* line 131, ../sass/_body.scss */
  .lastNews .rockMedium {
    display: block;
    margin: 0 0 25px 20px;
  }
  /* line 137, ../sass/_body.scss */
  .lastNews .rockFull {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* line 147, ../sass/_body.scss */
  .hightNew {
    background: none;
    margin-bottom: 0;
  }
  /* line 152, ../sass/_body.scss */
  .hightNew .higthNewText {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    width: 100%;
    padding: 25px 60px 0 60px;
  }

  /* line 160, ../sass/_body.scss */
  .lastNews {
    padding: 0 60px;
    margin-bottom: 80px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 166, ../sass/_body.scss */
  .lastNews .content {
    padding: 0;
  }
  /* line 170, ../sass/_body.scss */
  .lastNews .content .rockMedium {
    float: left;
    width: 100%;
    margin: 0;
  }
  /* line 176, ../sass/_body.scss */
  .lastNews .content .rockMedium img {
    width: 100%;
    margin-bottom: 45px;
  }
}
/* line 1, ../sass/_footer.scss */
.footer {
  height: 6px;
  border-top: 3px solid #74ffa3;
  background-color: #072a42;
  border-bottom: 7px solid #000;
}

/*# sourceMappingURL=styles.css.map */
